#textInput {
    border: none;
    border-bottom: 3px solid aqua;
    padding: 0.5em;
    width: 75%;
    margin-right: 1em;
}

.userText {
    color: black;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}
.userText span {
    background-color: #eddea4;
    padding: 10px;
    border-radius: 15px;
}
.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}
.botText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 15px;
}